@keyframes y-axis {
	to {
		transform: translate3d(0, var(--stage-height), 0);
	}
}

@keyframes x-axis {
	to {
		transform: translate3d(var(--x-landing-point), 0, 0);
	}
}

@keyframes rotation {
	50% {
		transform: rotate3d(var(--half-rotation), 180deg);
	}
	100% {
		transform: rotate3d(var(--rotation), 360deg);
	}
}

.container {
	width: 0;
	height: 0;

	overflow: visible;

	position: relative;

	transform: translate3d(var(--x, 0), var(--y, 0), 0);

	z-index: 1200;
}

.particle {
	animation: x-axis var(--duration-chaos) forwards
		cubic-bezier(var(--x1), var(--x2), var(--x3), var(--x4));
	animation-name: x-axis;
}

.particle > div {
	position: absolute;
	top: 0;
	left: 0;

	animation: y-axis var(--duration-chaos) forwards
		cubic-bezier(var(--y1), var(--y2), var(--y3), var(--y4));
	animation-name: y-axis;

	width: var(--width);
	height: var(--height);
}

.particle > div::before {
	display: block;

	height: 100%;
	width: 100%;

	content: '';
	background-color: var(--bgcolor);

	animation: rotation var(--rotation-duration) infinite linear;
	animation-name: rotation;

	border-radius: var(--border-radius);
}
