@keyframes y-axis {
	to {
		translate: 0 var(--sh);
	}
}

@keyframes x-axis {
	to {
		translate: var(--xlp) 0;
	}
}

@keyframes rotation {
	50% {
		rotate: var(--hr) 180deg;
	}
	100% {
		rotate: var(--r) 360deg;
	}
}

.container {
	width: 0;
	height: 0;

	overflow: visible;

	position: relative;

	z-index: 1200;
}

.particle {
	animation: x-axis var(--dc) forwards cubic-bezier(var(--x1), var(--x2), var(--x3), var(--x4));
	animation-name: x-axis;
}

.particle > div {
	position: absolute;
	top: 0;
	left: 0;

	animation: y-axis var(--dc) forwards cubic-bezier(var(--y1), var(--y2), var(--y3), var(--y4));
	animation-name: y-axis;

	width: var(--w);
	height: var(--h);
}

.particle > div::before {
	display: block;

	height: 100%;
	width: 100%;

	content: '';
	background-color: var(--bgc);

	animation: rotation var(--rd) infinite linear;
	animation-name: rotation;

	border-radius: var(--br);
}
